:root{
    --solid-black: #000000;
    --black-coffee: #3a3335;
    --pewter-blue: #769ba7;
    --mantis: #79cd7f;
    --shaded-green: #42B34A;
    --highlight-green: #A4EAA8;
    --saffron: #f6cb3c;
    --salmon: #ee766d;
    --transparent-white:rgba(255, 255, 255, 0.5);
    --white-border: rgba(255, 255, 255, 0.75);
}
body{
    text-align: center;
    align-items: center;
    background-color: var(--black-coffee);
    margin: 0px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.box{
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    position: relative;
    text-align: center;
}
.box-border{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-color: var(--white-border);
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}
.box-border-black{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-color: var(--solid-black);
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}
.box-background{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--transparent-white);
}
.box-top-left-text{
    margin: 0.5%;
    position:absolute;
    left: 0%;
    top: 0%;
}
.box-top-right-text{
    margin: 0.5%;
    position:absolute;
    right: 0%;
    top: 0%;
}
.box-bottom-left-text{
    margin: 0.5%;
    position:absolute;
    left: 0%;
    bottom: 0%;
}
.box-bottom-right-text{
    margin: 0.5%;
    position:absolute;
    top: 50%;
    left: 50%;
}
.box-image{
    border-width: 5px;
    border-color: aliceblue;
    border-style: solid;
    border-radius: 5px;
    background-color: aliceblue;
}
.spacer-bar{
    height: 5px;
}
.button{
    position: relative;
    background-color: var(--mantis);
    border-bottom-color: var(--shaded-green);
    border-right-color: var(--shaded-green);
    border-left-color: var(--highlight-green);
    border-top-color: var(--highlight-green);
    border-width: 5px;
    border-style: solid;
}
